@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 1rem;
  }
}

@layer components {
  body {
    @apply grid h-screen;
    grid-template: 'main' 1fr;
  }

  body > main {
    grid-area: main;
  }
}

@layer utilities {

  .spin-clockwise {
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
  }

  .spin-xclockwise {
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
  }

  @keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
}