@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  @apply text-base;
  @apply motion-safe:scroll-smooth;
}

body {
  grid-template:
    'nav' 3rem
    'main' 1fr
    'footer' 3rem;

  @apply transition-colors duration-500 ease-out;
  @apply bg-indigo-50 text-black;
  @apply dark:bg-neutral-900 dark:text-indigo-50;
  @apply grid h-screen;
}

nav {
  grid-area: nav;
  @apply border-b border-stone-300;
  @apply bg-white/50;
  @apply dark:bg-indigo-100/5;
}

main {
  grid-area: main;
  @apply mx-auto flex w-full;
  @apply max-w-5xl flex-col gap-10;
  @apply px-2 py-10 sm:px-4 lg:px-6;
}

footer {
  grid-area: footer;
  @apply border-t border-stone-300;
  @apply bg-white/50;
  @apply dark:bg-indigo-100/5;
}
